<div class="mainContentMenu" layout="row">
    <div class="mainContentMenuBody" layout="row" flex layout-align="start center">
        <div flex="20" layout="row" layout-align="start center">
            <md-button class="btn-nav-menu" style="min-width: inherit" ng-click="actions.goBack()">
                <i class="material-icons">keyboard_backspace</i>
            </md-button>
            <div style="width: 7px"></div>
            <span>{{'ANALYSIS_WORKLOAD_ANALYSIS_DETAIL.PAGE_SUBTITLE' | translate}}</span>
        </div>
        <div layout="row" class="lighterText">
            <span>Created date:</span>
            <span style="padding-left: 12px">{{viewModel.workloadAnalysis.createdDateStr}}</span>
        </div>
        <div layout="row" class="lighterText" style="padding-left: 30px">
            <span>Period:</span>
            <span style="padding-left: 12px">{{viewModel.workloadAnalysis.period}}</span>
        </div>
        <div layout="row" class="lighterText" style="padding-left: 30px">
            <span>Workload:</span>
            <span style="padding-left: 12px">{{viewModel.workloadAnalysis.workload.name}}</span>
        </div>
    </div>
</div>
<div class="mainContentBody" layout="column" flex>
    <md-content ng-hide="viewModel.isLoading">
        <div ng-hide="!viewModel.isLoadingEnv" style="position:absolute; background: rgba(0,0,0,0.03); width:100%; height:100%; z-index:999">
            <div layout="row" layout-align="space-around" style="margin-top:100px">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
        <md-tabs class="md-primary md-dynamic-height">
            <md-tab label="Indices">
                <md-content class="md-padding">
                    <div layout="column">
                        <div class="secondaryContentMenu" layout="row">
                            <div>
                                <md-button>
                                    <md-icon><i class="material-icons">reorder</i></md-icon>
                                    <span ng-click="actions.showSelectEnvironmentDialog()">Select environment</span>
                                </md-button>
                            </div>
                            <div>
                                <md-button>
                                    <md-icon><i class="material-icons">tune</i></md-icon>
                                    <span ng-click="actions.findBestEnvironment()">Find best environment</span>
                                </md-button>
                            </div>
                        </div>
                        <div class="secondaryContentBody" layout="column" flex>
                            <div>
                                <span>Affected statements:</span>
                            </div>
                            <div><br /></div>
                            <div>
                                <div ui-grid="gridAnalysisIndicesAffectedStatements" ui-grid-pagination ui-grid-resize-columns class="grid">
                                    <div class="no-rows" ng-show="!gridAnalysisIndicesAffectedStatements.data.length">
                                        <div class="msg">
                                            <span>No data available</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div><br /></div>
                            <div>
                                <span>Possible indices details:</span>
                            </div>
                            <div><br /></div>
                            <div>
                                <div ui-grid="gridAnalysisIndicesPossibleIndices" ui-grid-pagination ui-grid-resize-columns class="grid">
                                    <div class="no-rows" ng-show="!gridAnalysisIndicesPossibleIndices.data.length">
                                        <div class="msg">
                                            <span>No data available</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div><br /></div>
                            <div>
                                <span>Not affected statements:</span>
                            </div>
                            <div><br /></div>
                            <div>
                                <div ui-grid="gridAnalysisIndicesNotAffectedStatements" ui-grid-pagination ui-grid-resize-columns class="grid">
                                    <div class="no-rows" ng-show="!gridAnalysisIndicesNotAffectedStatements.data.length">
                                        <div class="msg">
                                            <span>No data available</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Horizontal partitionings">
                <md-content class="md-padding">
                    <div layout="column">
                        <div class="secondaryContentMenu" layout="row">
                            <div>
                                <md-input-container>
                                    <md-select ng-model="viewModel.data.currentHP" aria-label="select-current-relation" ng-change="actions.onChangedHP()">
                                        <md-option ng-repeat="p in viewModel.data.allHPs" ng-value="p">
                                            {{p.partitioningStatementStr}}
                                        </md-option>
                                    </md-select>
                                    <md-tooltip>Horizontal partitioning</md-tooltip>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="secondaryContentBody" layout="column" flex>
                            <div>
                                <span>Affected statements:</span>
                            </div>
                            <div><br /></div>
                            <div>
                                <div ui-grid="gridAnalysisHPStatements" ui-grid-pagination ui-grid-resize-columns class="grid">
                                    <div class="no-rows" ng-show="!gridAnalysisHPStatements.data.length">
                                        <div class="msg">
                                            <span>No data available</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div><br /></div>
                            <div>
                                <span>Partitioning statement:</span>
                            </div>
                            <div><textarea readonly="readonly" style="width:100%">{{viewModel.data.currentHP.partitioningStatementStr}}</textarea></div>
                            <div>
                                <span>Partition statements:</span>
                            </div>
                            <div><textarea readonly="readonly" style="width:100%">{{viewModel.data.currentHP.partitionStatementsStr}}</textarea></div>
                            <div>
                                <span>Global % impact:</span>
                            </div>
                            <div>
                                <span>{{viewModel.data.currentHP.impactStr}}</span>
                            </div>
                        </div>
                     </div>  
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <div ng-hide="!viewModel.isLoading" layout="row" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>