<div class="mainContentMenu" layout="row">
    <div class="mainContentMenuBody" layout="row" flex layout-align="start center">
        <div flex="20">
            <span>{{'STATS_RELATIONS.PAGE_SUBTITLE' | translate}}</span>
        </div>
        <div>
            <md-radio-group ng-model="viewModel.selectedPeriod" layout="row">
                <md-radio-button value="1" class="md-primary">Last hour</md-radio-button>
                <md-radio-button value="6">Last 6 hours</md-radio-button>
                <md-radio-button value="24">Last 24 hours</md-radio-button>
            </md-radio-group>
        </div>
    </div>
</div>
<div class="mainContentBody" layout="column">
    <div class="chart">
        <canvas id="div-stats-most-executed-statements"></canvas>
    </div>
    <div class="chart">
        <canvas id="div-stats-slowest-statements"></canvas>
    </div>
    <div class="chart">
        <canvas id="div-stats-most-alive-relations"></canvas>
    </div>
</div>