<div class="mainContentMenu" layout="row">
    <div class="mainContentMenuBody" layout="row" flex layout-align="start center">
        <div flex="20" layout="row" layout-align="start center">
            <md-button class="btn-nav-menu" style="min-width: inherit" ng-click="actions.goBack()">
                <i class="material-icons">keyboard_backspace</i>
            </md-button>
            <div style="width: 7px"></div>
            <span>{{'STATS_STATEMENT_DETAIL.PAGE_SUBTITLE' | translate}}</span>
        </div>
        <div>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" required ng-change="viewModel.validate()"
                    placeholder="Date from" show-todays-date="" minutes="true" min-date="date" show-icon="true"
                    ng-model="viewModel.dateFrom" class=" dtp-no-msclear dtp-input md-input">
        </div>
        <div>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" required ng-change="viewModel.validate()"
                    placeholder="Date to" show-todays-date="" minutes="true" min-date="date" show-icon="true"
                    ng-model="viewModel.dateTo" class=" dtp-no-msclear dtp-input md-input">
        </div>
        <div>
            <md-button ng-disabled="viewModel.isLoading || !viewModel.isValid" ng-click="actions.refreshData(true)" class="md-primary md-raised">Load</md-button>
        </div>
</div>
</div>
<div class="mainContentBody" layout="column">
    <div ng-hide="viewModel.isLoading" style="padding-left: 25px">
        <h3>{{viewModel.statement.statement.length > 100 ? (viewModel.statement.statement.substring(0,100) + "...") : viewModel.statement.statement}}</h3>
        <md-tooltip>{{viewModel.statement.statement}}</md-tooltip>
        <br />
    </div>
    <div ng-hide="viewModel.isLoading">

    </div>
    <div ng-hide="viewModel.isLoading" layout="row">
        <div flex="50">
            <span>Execution timeline:</span>
            <div class="chart">
                <canvas id="div-stats-statement-exec-timeline"></canvas>
            </div>
        </div>
        <div flex="50">
            <span>Duration timeline:</span>
            <div class="chart">
                <canvas id="div-stats-statement-duration-timeline"></canvas>
            </div>
        </div>
    </div>
    <div ng-hide="viewModel.isLoading">
        <br />
    </div>
    <div ng-hide="viewModel.isLoading" layout="row">
        <span>Relations usage:</span>
        <div style="width: 20px"></div>
        <md-radio-group ng-model="viewModel.selectedRelationsUsage" layout="row" ng-change="actions.drawGraphRelationsUsage(viewModel.data.statementRelationStatistics)">
            <md-radio-button value="totalScansCount" class="md-primary">Seq scans count</md-radio-button>
            <md-radio-button value="minTotalCost">Min cost</md-radio-button>
            <md-radio-button value="maxTotalCost">Max cost</md-radio-button>
            <md-radio-button value="avgTotalCost">Avg cost</md-radio-button>
        </md-radio-group>
    </div>
    <div ng-hide="viewModel.isLoading" class="chart">
        <canvas id="div-stats-statement-relations"></canvas>
    </div>
    <div ng-hide="viewModel.isLoading">
        <br />
    </div>
    <div ng-hide="viewModel.isLoading" layout="row">
        <span>Indices usage:</span>
        <div style="width: 20px"></div>
        <md-radio-group ng-model="viewModel.selectedIndicesUsage" layout="row" ng-change="actions.drawGraphIndicesUsage(viewModel.data.statementIndexStatistics)">
            <md-radio-button value="totalIndexScanCount" class="md-primary">Index scans count</md-radio-button>
            <md-radio-button value="minTotalCost">Min cost</md-radio-button>
            <md-radio-button value="maxTotalCost">Max cost</md-radio-button>
            <md-radio-button value="avgTotalCost">Avg cost</md-radio-button>
        </md-radio-group>
    </div>
    <div ng-hide="viewModel.isLoading" class="chart">
        <canvas id="div-stats-statement-indices"></canvas>
    </div>
    <div ng-hide="viewModel.isLoading">
        <br />
    </div>
    <div ng-hide="viewModel.isLoading">
        <span>Top 10 slowest representatives:</span>
    </div>
    <div ng-hide="viewModel.isLoading">
        <br />
    </div>
    <div ng-hide="viewModel.isLoading" layout="column">
        <div ui-grid="gridStatsSlowestStatements" ui-grid-resize-columns class="grid">
            <div class="no-rows" ng-show="!gridStatsSlowestStatements.data.length">
                <div class="msg">
                    <span>No data available</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="!viewModel.isLoading" layout="row" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>