<div class="mainContentMenu" layout="row">
    <div class="mainContentMenuBody" layout="row" flex layout-align="start center">
        <div flex="20">
            <span>{{'STATS_RELATIONS.PAGE_SUBTITLE' | translate}}</span>
        </div>
        <div>
            <md-input-container>
                <md-select ng-model="viewModel.currentRelation" aria-label="select-current-relation" required ng-change="viewModel.validate()">
                    <md-option ng-repeat="r in viewModel.allRelations" ng-value="r">
                        {{r.fullName}}
                    </md-option>
                </md-select>
                <md-tooltip>Relation</md-tooltip>
            </md-input-container>
        </div>
        <div>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" required ng-change="viewModel.validate()"
                   placeholder="Date from" show-todays-date="" minutes="true" min-date="date" show-icon="true"
                   ng-model="viewModel.dateFrom" class=" dtp-no-msclear dtp-input md-input">
        </div>
        <div>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" required ng-change="viewModel.validate()"
                   placeholder="Date to" show-todays-date="" minutes="true" min-date="date" show-icon="true"
                   ng-model="viewModel.dateTo" class=" dtp-no-msclear dtp-input md-input">
        </div>
        <div>
            <md-button ng-disabled="viewModel.isLoading || !viewModel.isValid" ng-click="actions.refreshData(true)" class="md-primary md-raised">Load</md-button>
        </div>
    </div>
</div>
<div class="mainContentBody" layout="column">
    <div ng-hide="viewModel.isLoading">
        <span>Total stats:</span>
    </div>
    <div ng-hide="viewModel.isLoading" class="chart">
        <canvas id="div-stats-relations"></canvas>
    </div>
    <div ng-hide="viewModel.isLoading">
        <br />
    </div>
    <div ng-hide="viewModel.isLoading">
        <span>Used in statements:</span>
    </div>
    <div ng-hide="viewModel.isLoading">
        <br />
    </div>
    <div ng-hide="viewModel.isLoading" layout="column">
        <div ui-grid="gridStatsRelationsStatements" ui-grid-pagination ui-grid-resize-columns class="grid">
            <div class="no-rows" ng-show="!gridStatsRelationsStatements.data.length">
                <div class="msg">
                    <span>No data available</span>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="end center">
            <md-button class="md-raised" ng-disabled="!viewModel.isValid || viewModel.isLoading" ng-click="gridStatsRelationsStatementsApi.pagination.previousPage()">
                Previous page
            </md-button>
            <p>{{ gridStatsRelationsStatementsApi.pagination.getPage() }} / {{ gridStatsRelationsStatementsApi.pagination.getTotalPages() }}</p>
            <md-button class="md-raised" ng-disabled="!viewModel.isValid || viewModel.isLoading" ng-click="gridStatsRelationsStatementsApi.pagination.nextPage()">
                Next page
            </md-button>
        </div>
    </div>
    <div ng-hide="!viewModel.isLoading" layout="row" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>